
body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: white ;  
    overflow: auto;  
}  
  
header {  
    background-color: rgba(51, 51, 51, 0);  
    color: #fff;  
    padding: 5px 10px;  
    text-align: left;  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    transition: background-color 0.3s ease;  
    height: 50px;   
}  
  
header:hover {  
    background-color: rgba(51, 51, 51, 0.7);  
}  
  
h1 {  
    display: flex;  
    align-items: center;  
    margin-left: 5px;  
}  
  
h1 img {  
    display: block;  
    max-width: 150px;   
    height: auto;  
}  
  
nav {  
    background-color: rgba(51, 51, 51, 0);  
    padding: 5px 10px;   
    display: flex;  
    order: -1;  
}  
  
nav a {  
    text-decoration: none;  
    color: white;  
    padding: 6px;   
    margin: 5px;  
    display: inline-block;  
    font-size: 12px;   
}  
  
section {  
    padding: 20px;  
}  
 
.profile-picture {  
    width: 40px;   
    height: 40px;   
    border-radius: 50%;   
    right:10px; 
    border: 2px solid white;   
}  
 

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    display: block;
    transition: opacity 1s ease-in-out;
}

.carousel img.fade-out {
    opacity: 0;
}

.carousel img.active {
    opacity: 1;
}

footer { 
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding: 10px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
} 
 
/*login*/ 
.login { 
    font-family: 'Arial', sans-serif; 
    height: 200px; 
    width: 400px; 
    position: relative; 
    left: 1700px; 
    top: 100px; 
    font-size: 30px; 
} 
 
.user { 
    font-family: 'Arial', sans-serif; 
    position: relative; 
    left: 1380px; 
    height: 500px; 
    width: 500px; 
    top: 100px; 
} 
 
 
.user label { 
    font-size: 33px; 
} 
 
.user input { 
    font-size: 16px; 
    width:100%; 
    width: 500px; 
    padding: 16px; 
    box-sizing: border-box; 
    margin-top: 5px; 
} 
 
.password { 
    font-family: 'Arial', sans-serif; 
    position: relative; 
    left: 1380px; 
    height: 500px; 
    width: 500px; 
    bottom: 200px 
} 
 
.password label { 
    font-size: 33px; 
} 
 
.password input { 
    font-size: 16px; 
    width:100%; 
    width: 500px; 
    padding: 16px; 
    box-sizing: border-box; 
    margin-top: 5px; 
} 
 
 
button.login-button { 
    width: 400px; 
    height: 50px; 
    color: #fff; 
    background-color: #4CAF50; 
    position: relative; 
    bottom: 450px; 
    left: 1480px; 
    text-align: center; 
    font-size: 20px; 
    border: none;  
    cursor: pointer; 
} 
 
button.login-button:hover { 
    background-color: #45a049; 
} 
 
.signup { 
    font-family: 'Arial', sans-serif; 
    height: 200px; 
    width: 400px; 
    position: relative; 
    left: 1760px; 
    bottom: 400px; 
    font-size: 20px; 
    text-decoration: underline; 
} 
 
/*shop*/ 
.data-container {  
    padding: 20px;  
    background-color: white;  
    border: 2px solid black;  
    margin: 20px;  
}  
 
.data-container img {  
    width: 100px; 
} 
 
/*homepage*/ 

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.image-background { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    z-index: -1; 
    transition: filter 0.5s ease; 
} 
 
.image-background img { 
    width: 100vw; 
    height: 100vh; 
    object-fit: cover; 
    position: center; 
    filter: brightness(60%);  
} 
 
.text-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

.fade {
    animation: fadeEffect 3s infinite;
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}